src/Node-red/flow_projeto.json
[
    {
        "id": "d77ce77ef5af70b9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b411587ab6f04a1e",
        "type": "mqtt in",
        "z": "d77ce77ef5af70b9",
        "name": "",
        "topic": "Sensordata",
        "qos": "2",
        "datatype": "auto",
        "broker": "0d1424e2156c1cb5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "6f417e002acbe085",
                "8d86a6b297a29ba9"
            ]
        ]
    },
    {
        "id": "6f417e002acbe085",
        "type": "debug",
        "z": "d77ce77ef5af70b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 290,
        "y": 120,
        "wires": []
    },
    {
        "id": "8d86a6b297a29ba9",
        "type": "function",
        "z": "d77ce77ef5af70b9",
        "name": "",
        "func": "msg = msg.payload.split(\",\").map(e => {\n    return {payload:parseFloat(e)}\n});\nreturn msg;",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 200,
        "wires": [
            [
                "f7a7c7875a14c188",
                "ecf054224f6a95dc"
            ],
            [
                "80b420b52d629817",
                "609fb30a56db3682"
            ],
            [
                "f3b0662f556ec204"
            ]
        ]
    },
    {
        "id": "f7a7c7875a14c188",
        "type": "function",
        "z": "d77ce77ef5af70b9",
        "name": "PIR",
        "func": "if (msg.payload == \"0\") { \n    msg.payload = \"OFF\";\n} \nif (msg.payload == \"1\") { \n    msg.payload = \"ON\";\n} \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 120,
        "wires": [
            [
                "19e64dbb560cf7fc",
                "efc44b99288ac444"
            ]
        ]
    },
    {
        "id": "19e64dbb560cf7fc",
        "type": "debug",
        "z": "d77ce77ef5af70b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "f3b0662f556ec204",
        "type": "function",
        "z": "d77ce77ef5af70b9",
        "name": "RELAY",
        "func": "if (msg.payload == \"0\") { \n    msg.payload = \"OFF\";\n} \nif (msg.payload == \"1\") { \n    msg.payload = \"ON\";\n} \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 320,
        "wires": [
            [
                "016f328daa63cfdb",
                "c4901f08eb6ac249"
            ]
        ]
    },
    {
        "id": "016f328daa63cfdb",
        "type": "debug",
        "z": "d77ce77ef5af70b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 710,
        "y": 320,
        "wires": []
    },
    {
        "id": "3c474ef59746b05a",
        "type": "ui_media",
        "z": "d77ce77ef5af70b9",
        "group": "1e4cc78ec02fdb3a",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 5,
        "category": "floorplan",
        "file": "floorplan.jpg",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 570,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "80b420b52d629817",
        "type": "ui_text",
        "z": "d77ce77ef5af70b9",
        "group": "1e4cc78ec02fdb3a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LDR",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 510,
        "y": 220,
        "wires": []
    },
    {
        "id": "efc44b99288ac444",
        "type": "ui_text",
        "z": "d77ce77ef5af70b9",
        "group": "1e4cc78ec02fdb3a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor de Presença",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 740,
        "y": 100,
        "wires": []
    },
    {
        "id": "609fb30a56db3682",
        "type": "debug",
        "z": "d77ce77ef5af70b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 530,
        "y": 260,
        "wires": []
    },
    {
        "id": "5c3e0ee4e782617c",
        "type": "ui_text",
        "z": "d77ce77ef5af70b9",
        "group": "1e4cc78ec02fdb3a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Controle",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 420,
        "y": 440,
        "wires": []
    },
    {
        "id": "afd1e126bc809cfb",
        "type": "mqtt in",
        "z": "d77ce77ef5af70b9",
        "name": "",
        "topic": "lights",
        "qos": "2",
        "datatype": "auto",
        "broker": "0d1424e2156c1cb5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 440,
        "wires": [
            [
                "3e8650936f1a3424",
                "dda8e67337e895b8"
            ]
        ]
    },
    {
        "id": "3e8650936f1a3424",
        "type": "function",
        "z": "d77ce77ef5af70b9",
        "name": "Controle",
        "func": "if (msg.payload == \"AUT\") { \n    msg.payload = \"Automático\";\n} \nif (msg.payload == \"VON\") { \n    msg.payload = \"VOZ\";\n} \nif (msg.payload == \"VOFF\") { \n    msg.payload = \"VOZ\";\n} \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 440,
        "wires": [
            [
                "5c3e0ee4e782617c"
            ]
        ]
    },
    {
        "id": "ecf054224f6a95dc",
        "type": "debug",
        "z": "d77ce77ef5af70b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 530,
        "y": 160,
        "wires": []
    },
    {
        "id": "dda8e67337e895b8",
        "type": "debug",
        "z": "d77ce77ef5af70b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 250,
        "y": 480,
        "wires": []
    },
    {
        "id": "c4901f08eb6ac249",
        "type": "ui_text",
        "z": "d77ce77ef5af70b9",
        "group": "1e4cc78ec02fdb3a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Lâmpada",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 700,
        "y": 280,
        "wires": []
    },
    {
        "id": "0d1424e2156c1cb5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1e4cc78ec02fdb3a",
        "type": "ui_group",
        "name": "Smart Hub Dashboard",
        "tab": "adfa28f91d2505be",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "adfa28f91d2505be",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]